plan.md
.DS_Store
.swiftpm/xcode/xcuserdata/nemanjavlahovic.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/nemanjavlahovic.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDEs
.vscode/
.idea/

# Backup files
*~
*.swp
*.bak
TODO.md
